* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

form {
    text-align: start;
    width: 400px;
    height: 100px;
    border-radius: 10px;
    color: white;
    padding-top: 40px;
    padding-left: 50px;
    background-color: #D2001A;
    margin: auto;
    margin-top: 15%;
}

input {
    border-radius: 10px;
}

form h2 {
    text-align: start;
    font-size: 20px;
}

p {
    color: white;
}

button {
    background-color: #181D31;
    color: white;
    border-radius: 5px;
    margin-left: 35%;
}

.container {
    max-width: 1170px;
    margin: auto;
}

.box {
    width: 250px;
    border-radius: 10px;
}

.navbar {
    display: flex;
    background: rgba(255, 255, 255, 0.12);
    justify-content: center;
    align-items: center;
    height: 87px;
    margin-top: -15%;
    position: fixed;
    width: 100%;
    background-color: #D2001A;
}

.navbar li a {
    margin-left: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #F7F8FC;
}

.navbar li a:hover {
    color: #FFDE00;
}